<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Charlie Storey | Jnr Dev</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
     <link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css">
	<link rel="stylesheet" href="/css/style.css">

</head>

<body>
   <div class="wrapper">
	<header class="main-header">
          <div class="container">
		<h1 class="name"><a href="#">Charlie Storey | Jnr Dev</a></h1>
		<ul class="main-nav">
			<li><a href="#" onclick="goToMeteor()">Meteor projects</a></li>
			<li><a href="#" onclick="goToJava()">Java projects</a></li>
			<li><a href="#" onclick="goToNode()">Node Projects</a></li>
			<li><a href="#">Android projects</a></li>
		</ul>
     </div>
	</header>


<div id="mainContent" class="container">

	<div id="icons">
		<a href="#"><img class="sinICON" src="img/javascript.png" />Hel</a>
		<a href="#"><img class="sinICON" src="img/symbol.png" /></a>
		<a href="#"><img class="sinICON" src="img/android-device.png" /></a>
		<a href="#"><img class="sinICON" src="img/database.png" /></a>
	</div>


     <div class="first col">
	<h2>About Me!</h2>
	<p>I have been self studying web programming for just under a year now. I am comfortable with using JavaScript and am nearing completion of a web application that assists homeless people in finding a bed for the night in extreme weather ( code available- https://github.com/charlie301/FrostBytes ).
        I have also began working on simple node projects such as creating a basic server to process get requests and a light web-scraper that persists data to a mongoDB.
        I have started to become familiar with ReactJs and how its workings , but have yet to build anything using this library. </p>
	<p>I have basic understanding of CRUD command/operations in noSQL MongoDB and have successfully implemented a geospatial index in
         an application. I am just beginning to learn SQL concepts but am already implementing an SQL lite database in an Android App. </p>
	<p>I have also been studying Java and the android framework for around three months as I wanted to learn an OOP language that also gave me a greater understanding of CS concepts such as memory management and data structures. .</p>
     </div>

     <div class="second col">
	<h2>Links to work</h2>
	<p>Croissant macaroon pie brownie. Cookie marshmallow liquorice gingerbread caramels toffee I love chocolate. Wafer lollipop dessert. Bonbon jelly beans pudding dessert sugar plum. Marzipan toffee drag&#233;e chocolate bar candy toffee pudding I love. Gummi bears pie gingerbread lollipop.</p>
     </div>


</div><!--end of container-->



</div> <!--end of wrapper div-->

<div class=footer>
	<footer class="main-footer">
		<p>&copy;2015 Residents of The Best City Ever.</p>
	</footer>
</div>

<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="
	crossorigin="anonymous"></script>
<script src="../../ajax/go.js"></script>
</body>
</html>
